<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ny bokning</title>
</head>
<body>

<form th:action="@{/bookings}" method="get">
    <button><</button>
</form>

<form th:action="@{/bookings}" method="post">

    <label for="customer">Välj kund:</label>

    <select name="customerId" id="customer">
        <option th:each="customer : ${customers}"
                th:value="${customer.id}"
                th:text="${customer.name}">
        </option>
    </select>

    <label for="room">Välj typ av rum:</label>

    <select name="isDoubleRoom" id="room">
        <option value="false">Enkelrum</option>
        <option value="true">Dubbelrum</option>
    </select>

    <br><br>

    <div id="extraBedsDiv" style="display: none;">
        <label for="extraBeds">Lägg till fler sängar: </label>
        <select name="extraBeds" id="extraBeds">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <br><br>

    <label for="startDate">Startdatum:</label>
    <input type="date" id="startDate" name="startDate">

    <br><br>

    <label for="endDate">Slutdatum:</label>
    <input type="date" id="endDate" name="endDate">

    <br><br>

    <button type="submit">Skapa bokning</button>

</form>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>


<script>
    const roomSelect = document.getElementById("room");
    const extraBedsDiv = document.getElementById("extraBedsDiv");

    roomSelect.addEventListener("change", function () {
        if (this.value === "true") {
            extraBedsDiv.style.display = "block";
        } else {
            extraBedsDiv.style.display = "none";
        }
    });
</script>


</body>
</html>