<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunder</title>
</head>
<body>

<form th:action="@{/}" method="get">
    <button>Hem</button>
</form>

<form th:action="@{/customers/register}" method="get">
    <button>Lägg till ny kund</button>
</form>

<h1>Kunder</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <th>Email</th>
        <th>Telefon</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phone}"></td>
        <td>
            <form th:action="@{/customers/delete/{id}(id=${customer.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/customers/edit/{id}(id=${customer.id})}" method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

</table>

</body>
</html>