<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redigera Kund</title>
</head>
<body>

<form th:action="@{/customers}" method="get">
    <button><</button>
</form>

<form th:action="@{/customers/edit/{id}(id=${customer.id})}" method="post">

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required minlength="2" maxlength="20"
           th:value="${customer.name}"
           oninvalid="this.setCustomValidity('Namnet måste vara mellan 2 och 20 tecken')"
           oninput="this.setCustomValidity('')"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required
           th:value="${customer.email}"
           oninvalid="this.setCustomValidity('Ange en giltig e-postadress')"
           oninput="this.setCustomValidity('')"><br>

    <label for="phone">Phonenumber:</label><br>
    <input type="text" id="phone" name="phone" required minlength="2" maxlength="20"
           th:value="${customer.phone}"
           oninvalid="this.setCustomValidity('Telefonnumret måste vara mellan 2 och 20 tecken')"
           oninput="this.setCustomValidity('')"><br>

    <input type="submit" value="Save">
</form>
</body>
</html>