<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rum</title>
</head>
<body>

<form th:action="@{/}" method="get">
    <button>Hem</button>
</form>
<form th:action="@{/rooms/available-rooms}" method="get">
    <button>Sök tillgängliga rum</button>
</form>

<h1>Rum</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nr</th>
        <th>Dubbelrum</th>
    </tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.id}"></td>
        <td th:text="${room.nr}"></td>
        <td th:text="${room.doubleRoom} ? 'Ja' : 'Nej'"></td>
    </tr>
</table>

</body>
</html>